@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* * {
    transition: all 0.5s ease-in-out;
} */
::-webkit-scrollbar {
    width: 5px;
    background-color: #1f2937;
}
::-webkit-scrollbar-thumb {
    background-color: #818cf8;
}

h1 {
    font-size: 3.5em !important;
    font-weight: 700 !important;
}
h2 {
    font-size: 2.5em !important;
    font-weight: 500 !important;
}
h3 {
    font-size: 1.5em !important;
    font-weight: 500 !important;
}
h4 {
    font-size: 1.25em !important;
    font-weight: 500 !important;
    margin-block-end: .5em;
}
